.logo{
    float:center;
}
.duoc{
  font-family: "a r i a l", serif;
    color:rgb(27, 117, 252);
    text-align: right;
    font-weight: bold;
    font-style: oblique;
}
.maipu{
  float:center;
}
