.construccion{
    padding-top: 0.8cm;
    float:center;
    width: auto;
     height: auto;
}

ion-datetime {
    --padding-bottom: 4px;
    --padding-end: 4px;
    --padding-start: 4px;
    --padding-top: 4px;
    --margin-block: 40%;
    --background: black;
}