<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
   <ion-title color="black">Sobre Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <img src="assets/TuclaseQR.png" class="ion-padding">
  <ion-text class="extracto">
    <h3>Desarrollado por:</h3>
  </ion-text>
  <ion-avatar class='avatar'  >
    <img alt="Silhouette of a person's head" src="assets/gatoempresario.jpg" />
  </ion-avatar>
  <ion-text class="name" >
    <h4>Gerald Quiñenao</h4>
    <h4>Catherine Ponce</h4>
  </ion-text>
  <ion-card >
    <img src="assets/calcieat.gif" >
    <ion-card-header>
      <ion-card-title>TuClaseQR </ion-card-title>
    </ion-card-header>
    <ion-card-content>
     La meta de Tu Clase QR es darte el mejor servicio, ya que tu seras el responsable de tomar la clase y no olvidar quedar presente.
    </ion-card-content>
  </ion-card>
  <img src="assets/service design.png"  >
  <ion-card>
    <ion-label>¡Asi En TuClaseQR ideamos esta forma eficas de quedar presente!</ion-label>
   <p class="parrafo">El lector QR que tendra el Usuario Alumno, mientras el profesor Genera un QR</p>
  </ion-card>
  <ion-card>
    <img  src="assets/gatoinformatico.gif" >
    <ion-card-subtitle>Trabajando con Ionic hasta las 5 a.m.</ion-card-subtitle>
    <ion-card-content>
      Dando forma a dos vistas de usuario: Profesor y Alumno. La cual podemos dar una participacion de ambos, ya quitando la presion al profesor de marcar asistencia... ¡Ahora tambien corre por parte del alumno el recordarlo!
    </ion-card-content>
  </ion-card>
 
</ion-content>