ion-card {
    --background: #ffffff;
    --color: #3880ff;
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}

.avatar{
    width: 80px;
    height: 80px;
    margin-left: auto; 
    margin-right: auto;
}

.extracto{
    font-family: "a r i a l", serif;
    color:chocolate;
    text-align: center;
    font-weight: bold;
    font-style: oblique;
}

.name{
    font-family: "Constantia", serif;
    line-height: 100%;
    font-size: 110%;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: dimgray;
}
ion-card-content{
    font-family: "Segoe IU", sans-serif;
    color: rgb(71, 65, 65);
    font-size: 110%;
    
    text-align: justify;
}

ion-label{
    font-family: "Segoe IU", sans-serif;
    color: rgb(71, 65, 65);
    font-size: 110%;
    text-align: center;
    text-align: justify;
}
.parrafo{
    font-family: "Segoe IU", sans-serif;
    color: rgb(71, 65, 65);
    font-size: 110%;
    text-align: center;
}
.btnreg{
    margin-left: auto; 
    margin-right: auto;
    color: black;
    --background: coral;
    --padding-top: 5;
    --padding-bottom: 1;
  }